.trends {
  border: solid 6px rgba(255, 255, 255, 0.425);
  border-radius: 10px;
  margin: auto;
  display: flex;
  width: 1200px;
  height: 600px;
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}
section img:hover {
  /* hacer un borde animado */
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
