.reviewBox {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.reviewContent {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.reviewRating {
  color: #f9d71c;
}

.reviewSpoiler {
  color: #979797;
  font-size: 0.8rem;
}
